/graycode_pattern/
/sample_data/

/capture_*/
/viz_cam_corners_*
/viz_pro_corners_*
/viz_pro_gc_*
/pro_corners.npy
/experiments

/camera2camera/captures/
/camera2camera/results/

.vscode/
.DS_Store

*.pyc
